body{
margin: 0;
padding: 0;
}

h1{
    font-family:'libre baskerville' ;
    text-align: center;
    color: blueviolet;
    
}

.container {
    display: flex;
    justify-content: center;
}
.container img {
    height: 500px;
}