:root {    
     --moonStoneColor: #e24097;
     --goldCircleColor: #ffeb57;
     --fontPrimary :'urbanist',sans-serif;
     --fontTitle : 'libre baskerville', serif;
     --spaceBetweenLink : 2%;
}

body, html {
    height: 100%; 
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: var(--fontPrimary);
    font-weight: bold;
    justify-content: space-between;
}
.landscape{
    background-image: url('./Images/Landscape_Background_Light.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.Parchment {
    background-image: url('./Images/Parchment_Background.webp');
    background-size: cover;
    background-repeat: no-repeat;

}


h1{
    font-family: var(--fontTitle) ;
    text-align: center;
    color: var(--moonStoneColor);
}

h2{
    font-family: var(--fontTitle);
    color: var(--goldCircleColor);
}
/* BARRE DE NAVIGATION */

.navBar {
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: var(--goldCircleColor) solid 3px;
}

.navBar img{
    height: 95%;
    width: auto;
}

.navBar a{
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: space-around;
    margin: var(--spaceBetweenLink);

}

.navBar a.active {
    color: var(--moonStoneColor);
}

.navBar a:hover {
    color: var(--goldCircleColor);
}


/* FOOTER */

footer{
    display: flex;
    height: 50px;
    background-color: black; 
    border-top: var(--goldCircleColor) solid 3px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

footer a {
    color: white;
    font-size: small;
    text-decoration: none;
    margin: var(--spaceBetweenLink);
}

footer a:hover {
    color: var(--goldCircleColor);
}


/* Container Page Accueil */

.container {
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    grid-template-rows: auto;
    height: 100%;


}

.gridColumn1{
    grid-column: 1;
    background-color: rgba(0, 0, 0, 0.6); 
    border: var(--goldCircleColor) solid 3px;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    margin: 5%;
}

.gridColumn2{
    grid-column: 2;
    filter: drop-shadow(0 0 5px black); 
    background-color: rgba(0, 0, 0, 0.5);
    align-content: center;
   }

.gridColumn3{
    grid-column: 3;
    background-color: rgba(0, 0, 0, 0.5); 
    border: var(--goldCircleColor) solid 3px;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    margin: 5%;
}



/* Créatures Illustrations Encadrement */

.creaturesLeft{
    grid-column: 1;
    padding: 15%;
    filter: drop-shadow(8px 8px 15px rgba(0, 0, 0, 0.7))
}

.creaturesRight{
    grid-column: 3;
    padding: 15%;
    filter: drop-shadow(8px 8px 15px rgba(0, 0, 0, 0.5))
}

#placement {
    height: 80%;
    width: 80%;
    background-color: var(--moonStoneColor);
    border: var(--goldCircleColor) solid 3px;
    border-radius: 5%;
    padding: 5%;
    align-self: center;
}